
/*-----------------------------------*\
  #CHARACTER GUNS MAPS css
\*-----------------------------------*/

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */
  
    --raisin-black-1: hsla(0, 0%, 0%, 0.89);
    --raisin-black-2: hsl(231, 12%, 12%);
    --raisin-black-3: hsl(228, 12%, 17%);
    --eerie-black: hsl(240, 11%, 9%);
    --light-gray: hsl(0, 0%, 80%);
    --platinum: hsl(0, 4%, 91%);
    --xiketic: hsl(275, 24%, 10%);
    --green: hsl(118, 100%, 39%, 0.94);
    --red: hsla(0, 100%, 50%, 0.753);
    --white: hsl(0, 0%, 100%);
    --onyx: hsl(240, 5%, 26%);
  
    /**
     * typography
     */
  
    --ff-refault: "Refault", Georgia;
    --ff-oswald: 'Oswald', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;
    --ff-valorant: 'Valorant', sans-serif;
  
    --fs-1: 54px;
    --fs-2: 34px;
    --fs-3: 30px;
    --fs-4: 26px;
    --fs-5: 22px;
    --fs-6: 20px;
    --fs-7: 18px;
    --fs-8: 15px;
    --fs-9: 14px;
    --fs-10: 13px;
    --fs-11: 12px;
  
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;
  
    /**
     * transition
     */
  
    --transition-1: 0.15s ease-in-out;
    --transition-2: 0.15s ease-in;
    --transition-3: 0.25s ease-out;
  
    /**
     * spacing
     */
  
    --section-padding: 60px;
  
    /**
     * clip path
     */
  
    --polygon-1: polygon(90% 0, 100% 34%, 100% 100%, 10% 100%, 0 66%, 0 0);
    --polygon-2: polygon(0 0, 100% 0%, 82% 100%, 0% 100%);
    --polygon-3: polygon(0 0, 100% 0%, 100% 100%, 18% 100%);
    --polygon-4: polygon(96% 0, 100% 36%, 100% 100%, 4% 100%, 0 66%, 0 0);
  
}

/*-----------------------------------*\
# MAIN CONTAINER
\*-----------------------------------*/

.gears { 
    padding: var(--section-padding) 0;
    margin-top: 90px;
}

.gears-list {
  display: grid;
  gap: 50px;
}

.gears-card .card-banner {
  position: relative;
  background: url("../images/gears-card-bg.png") no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  aspect-ratio: 2 / 1.7;
  display: grid;
  place-items: center;
  margin-bottom: 30px;
}

.gears .card-banner a { width: 100%; }

.gears .card-banner .agents-img {
  width: 65%;
  height: 290px;
  margin-inline: auto;
}

.gears .card-banner .arsenal-img {
  width: 95%;
  height: 90%;
  margin-inline: auto;
}

.gears .card-banner .maps-img {
  margin-top: 40px;
  width: 98%;
  height: 100%;
  margin-inline: auto;
}

.gears .card-banner .team-img {
  margin-top: 40px;
  width: 50%;
  margin-inline: auto;
}

.card-name-wrapper {
  position: absolute;
  color: var(--white);
  top: 3%;
  right: 10%;
  font-family: var(--ff-oswald);
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card-name-wrapper ion-icon {
  font-size: 16px;
  --ionicon-stroke-width: 50px;
}

.gears .card-content {
  color: var(--white);
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.gears-card :is(.card-title) {
  font-family: var(--ff-oswald);
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
}

.gears-card .card-title { margin-bottom: 5px; }


  
  
  